<!--
    #authors:   Kaleb Eberhart
    #date:      01/26/2018
    #course:    CST-247
    #professor: Mark Reha
    #project:   Minesweeper Online 1.6
    #file:      Register.cshtml
    #revision:  1.0
    #synapsis:  This class is for displaying the user registration page. In the future, we'd like
                to integrate error checking into the razer code on this page, but for right
                now, the errors are being checked in the controller/model.
-->
@model MinesweeperMVC.Models.UserModel

@{
    Layout = "~/Views/Shared/_GuestLayout.cshtml";
}

<html>
<body>
    <div class="register-photo" style="min-height:90vh;">
        <div class="form-container" style="width:405px;">
            @using (Html.BeginForm("Register", "Register", FormMethod.Post, new { style = "background-color:#7e7d7d" }))
            {
                @Html.AntiForgeryToken()
                    <h2 class="text-center" style="color:#ffffff;"><strong>Create</strong> an account</h2>
                    <div class="form-group">
                        @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control", placeholder = "Username", maxlength = 50, required = "required" } })
                        @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", placeholder = "Password", @type = "password", maxlength = 50, required = "required" } })
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.EditorFor(model => model.PassRe, new { htmlAttributes = new { @class = "form-control", placeholder = "Password (repeat)", @type = "password", maxlength = 50, required = "required" } })
                        @Html.ValidationMessageFor(model => model.PassRe, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary btn-block" type="submit" style="background-color:#010101;">Sign Up</button>
                        @Html.ValidationMessage("RegError", new { @class = "text-danger" })
                    </div>
            }
        </div>
    </div>
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>